<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TheNinjaStore">
  <test thread-count="5" name="CartActions">
    <classes>
      <class name="com.org.task1.testscripts.CartActions"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
